* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=4b017d&c2=aa97d0&gt=l&gd=dbb
*/
  background: hsla(276, 100%, 25%, 1.0);
  background: linear-gradient(180deg, hsla(276, 100%, 25%, 1.0), hsla(261, 38%, 71%, 1.0));
}

.landingPageContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 50%; */
  width: 70%;
}

.landingPageText h1 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 5rem);
  color: white;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.landingPageText p {
  color: rgb(59, 1, 97);
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  text-align: center;
}

.buttonbox {
  margin: 2rem auto;
  display: flex;
  width: 60%;
  justify-content: center;
  gap: clamp(0.8rem, 1.2vw, 1.5rem);
  padding: 0 2rem;
}


.buttonbox button {
  font-size: clamp(1.2rem, 1.6vw, 3rem);
  padding: clamp(0.3rem, 0.6vw, 1rem) clamp(0.8rem, 1vw, 1.2rem);
  border: hsla(276, 100%, 25%, 1.0) 2px solid;
  border-radius: 8px;
  color: hsla(276, 100%, 25%, 1.0);
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.014);
  box-shadow: 3px 4px 13px;
  font-family: "Poppins", sans-serif;
}

.buttonbox button:first-child {
  white-space: nowrap;
}

.buttonbox button:hover {
  box-shadow: 0px 1px 10px;
  background-color: hsla(276, 100%, 25%, 1.0);
  color: white;
}

.vcimage {
  width: clamp(300px, 40%, 600px);
  margin: 1rem auto;
  border: 2px solid hsla(276, 100%, 25%, 1.0);
  border-radius: 18px;

  box-shadow: 3px 4px 13px;
}

.Userlog {
  color: whitesmoke;
  height: clamp(500px, 75%, 700px);
  border-radius: 10px;
  width: clamp(350px, 25%, 450px);
  position: absolute;
  display: none;
  flex-direction: column;
  background-image: url(./images/image.png);
  background-size: cover;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  /* padding: 1rem; */
}

.guest {
  z-index: 2;
  /* padding: 1rem; */
  background-color: rgba(196, 8, 8, 0);
  font-family: "Poppins", sans-serif;
  background-image: url(./images/image.png);
  opacity: 1;
  background-size: cover;
  width: clamp(300px, 30%, 400px);
  aspect-ratio: 3/2;
  color: whitesmoke;
  position: absolute;
  border-radius: 10px;
  flex-direction: column;
}

.guestbox,
.userlogbox {
  padding: 1rem;
}

.guest h1 {
  font-size: clamp(1.7rem, 3vw, 3rem);
  text-align: center;
}

.guestform,
.loginform,
.signupform {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
  font-size: 1.25rem;

}

.signup {
  display: none;
  gap: 0px;
}

.loginform {
  justify-content: space-between;
  height: 85%;
}

.signupform {
  height: 85%;

}

.login,
.signup {
  margin: 1rem 0rem 0rem;
  height: 100%;
  flex-direction: column;
}

.Userlog h1 {
  text-align: center;
}

.guestform input,
.loginform input,
.signupform input {
  background-color: rgba(0, 0, 0, 0);
  height: 2rem;
  border-radius: 5px;
  margin: 0.2rem 0 0.5rem 0;
  width: 100%;
  outline: 0px;
  border: 1px solid white;
  font-family: inherit;
  padding-left: 8px;
}

.switch-to-login,
.Switch-to-signup-btn,
.switch-to-guest,
.switch-to-join {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  margin: 1.7rem auto 0rem;
  display: block;
  color: rgb(79 5 130);
  width: 45%;
  background: rgba(191, 4, 229, 0.164);
}
.switch-to-join{
  margin: 1.7rem auto;
}
.switch-to-login {
  width: clamp(120px, 45%, 200px);
}

.switch-to-login:hover,
.Switch-to-signup-btn:hover,
.switch-to-guest:hover,
.switch-to-join:hover {
  background: rgb(79 5 130);
  color: white;
}

.join,
.login-btn,
.forget-password,
.signup-btn,
.creating-room {
  color: white;
  background: rgb(79 5 130);
  border: 2px solid white;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  width: 100%;
}

.join:hover,
.login-btn:hover,
.forget-password:hover,
.signup-btn:hover,
.creating-room:hover {
  background: rgba(191, 4, 229, 0.164);
  color: rgb(79 5 130);
  border: 2px solid black;
}

.loginboxbtn {
  display: flex;
  margin-top: auto;
}

.signupboxbtn {
  display: flex;
  /* margin-top: a; */
}

.loginboxbtn {
  display: flex;
  margin-top: auto;
}

.landingstyle {
  display: none;
  backdrop-Filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.cross {
  color: white;
  display: flex;
  margin-left: auto;
  padding-right: 3px;
  margin-top: 1px;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  cursor: default;
  border-radius: 10px;
  line-height: 1.1rem;
}

.Logo {
  display: none;
}

@media (max-width:576px) {
  .room-text {
    width: 50px;
  }

  .landingPageContainer {
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    /* justify-content:flex-start */
  }

  .landingPage {
    flex-direction: column;

  }

  .vcimage {
    width: 80%;
  }

  .buttonbox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    gap: 0.8rem;
    flex-direction: column;

  }

  .userlog {
    padding: 0;
  }

  .buttonbox button {
    padding: 0.8rem;
  }

  .landingPageText p {
    line-height: 1.6rem;
  }

  .Logo {
    padding: 0.8rem 0 0 2rem;
    margin-right: auto;
    width: 200px;
    display: inline;
  }

}